body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white
    
}


.backround-image {
    background-image: url(../IMG/fondo2.jpg);
    width: 200px;
    height: 100vh;
    
}
.menu {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    list-style: none;
    display: flex;
    margin-right: 30px;
   
}

li {
    margin-right: 25px;    
}

header {
    background: url(../IMG/fondo4.jpg);
    height: 100vh;
    background-size: cover;
    object-fit: fill;
}

.boton {
    text-decoration: none;
    background-color: #5cb8ff;
    font-size: 14px;
    padding: 20px 30px 20px 30px;
    color: white;
}

.titular {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 50px;
    margin: 0;
}
h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

p {
    margin-left: 40px;
}


.link {
    text-decoration: none;
}

/* FOOTER */

.footer a {
    text-decoration: none;
    background-color: #5cb8ff;
    font-size: 14px;
    padding: 20px 30px 20px 30px;
    color: white;
}

#que-esperas {
    margin-top: 230px;
    background: linear-gradient(rgba(84,93,220.94), rgba(96,171,245,.9));
    text-align: center;
    padding: 50px 0 50px 0; ;
}

#que-esperas h3 {
    font-size: 23px;
    color: #fff;
}
#que-esperas a {
    padding: 20px 45px 20px 45px;
    transition: 1s;
    
}
#que-esperas a:hover {
    color: black;
    transition: 1s;
}
/* EMPIEZA SECCION SOBRE MI*/

 .imagen-darko {
    max-width: 20%;
    max-height: 30%;
    border-radius: 10px;
    border: 10px solid black;
    
}

h3 {
    padding-bottom:20px;
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    margin-bottom: 40px;
}

.sobre-mi {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.darko1 {
width: 60%;
}  

/* SECCION GALERIA */

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  
  

#galeria h3 {
    font-size: 20px;
}

/* SECCION SERVICIOS */


.servicio-title {
    font-size: 28px;

}


.contenedor-servicios {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
}
.servicio {
    width: 25%;
    padding: 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}
.violeta {
    background:#5055df ;
}
.celeste {
    background: #40a8fa;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}
.servicio img {
    float: right;
}

.servicio p {
    font-size: 18px;
}

/* EMPIEZA SECCION CONTACTO */

.contacto {
    margin-left: 800px;
    margin-top: 100px;
    display: inline-block;
    width: 100px;
}

.menu-icon {
    display: none;
}

/* MEDIA QUERIES*/

/* Mobile */

@media screen and (max-width:480px) {

    /* INDEX */
    .lista {
        flex-direction: column;
        
    }
    .titular {
        margin-top: 100px;
    }

    /* SOBRE MI */
    .sobre-mi {
        flex-direction: column;
    
    }
    .imagen-darko {
        max-width: 100%;
        max-height: 30%;
        border-radius: 10px;
        border: 10px solid black;}
        p {
            margin-left: 79px;
        }

        /* SERVICIOS */

        .contenedor-servicios {
            flex-direction: column;
        }
        .servicio {
            width: 72%;
            margin: auto;
            margin-bottom: 15px;
        }

        /* GALERIA  */
        @media (min-width: 600px) {
            .wide {
              grid-column: span 2;
            }
          
            .tall {
              grid-row: span 2;
            }
          }
          

        .galeria-grid {
            margin-top: 10px;
            position: absolute;
            width: 100vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:1fr;
            column-gap: 20px ;
            row-gap: 20px;
            
}
/* FOOTER */
#que-esperas {
    
    display: none;
  
}
}
 
